body {
    margin: 0;
    height: 100vh; 
    display: flex; 
    justify-content: center;
    align-items: center; 
    background-color: #f0f0f0; 
}

.box {
    width: 250px;
    height: 250px; 
    background-color: blue; 
    transition: background-color 2s ease; 
}

.box:active {
    background-color: red; 
}
