body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
    font-size: 36px;
}

.food-item {
    border: 2px solid black;
    margin: 20px auto;
    padding: 15px;
    width: 80%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.food-item h2 {
    color: #d23669;
    font-size: 24px;
}

.food-item p {
    font-size: 16px;
    color: #555;
}

.food-image {
    display: block;
    width: 100%;
    max-width: 400px;
    margin: 10px auto;
    border-radius: 5px;
}
